#icon-gan-prod {
	background: transparent url(../images/GANProdicons32.png) no-repeat -12px -7px;
}

#icon-gan-add-prod {
	background: transparent url(../images/GANProdicons32.png) no-repeat -61px -7px;
}

#icon-gan-edit-prod {
	background: transparent url(../images/GANProdicons32.png) no-repeat -114px -7px;
}

#icon-gan-view-prod {
	background: transparent url(../images/GANProdicons32.png) no-repeat -163px -7px;
}

#icon-gan-prod-options {
	background: transparent url(../images/GANProdicons32.png) no-repeat -211px -7px;
}

